/resources/public/js/compiled/**
figwheel_server.log
pom.xml
/node_modules/
*jar
/lib/
/classes/
/out/
/target/
/resources/public/js/compiled/
.lein-deps-sum
.lein-repl-history
.lein-plugins/
.repl
.nrepl-port
